// Fonts
//------------------------------------------------------------------------------
// Font imports
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

$font-branding: 'Alfa Slab One', cursive;
$font-headline: 'Open Sans', sans-serif;
$font-sans: 'Open Sans', sans-serif;

// Colors
//------------------------------------------------------------------------------
// Classic Dark Theme
$masthead-background: $gray-25;
$main-homepage-background: $gray-10;
$main-homepage-icon-color: $gray-80;
$main-homepage-icon-border: $gray-55;
$main-page-text-color: $gray-80;
$main-page-btn-color: $gray-80;
$search-container-background: #e6e2e2;
$search-container-hover: $white;
$btn-homepage-background: $gray-25;
$btn-homepage-border: $gray-25;
$btn-default-background: $black;
$btn-default-background-hover: $black;
$btn-default-border: $black;
$btn-default-text-color: $gray-80;
$btn-default-text-hover: $accent;
$btn-user-initial: $gray-70;
$elem-link-color: $gray-80;
$elem-active-link-color: $gray-30;
$elem-link-accent: $accent-light;
$nav-text-color: $gray-70;

.logo {
  filter: invert(100%);
}
