// Color
//------------------------------------------------------------------------------
$white        : #fff;
$black        : #000;
$gray-10      : mix($white, $black, 10%);  // #1a1a1a
$gray-20      : mix($white, $black, 20%);  // #333
$gray-25      : mix($white, $black, 25%); // #404040
$gray-30      : mix($white, $black, 30%);  // #4d4d4d
$gray-35      : mix($white, $black, 35%); // #8c8c8c
$gray-40      : mix($white, $black, 40%); // #666
$gray-45      : mix($white, $black, 45%); // #737373
$gray-50      : mix($white, $black, 50%);  // #808080
$gray-55      : mix($white, $black, 55%); // #8c8c8c
$gray-60      : mix($white, $black, 60%);  // #999
$gray-70      : mix($white, $black, 70%);  // #b3b3b3
$gray-80      : mix($white, $black, 80%);  // #cccccc
$gray-90      : mix($white, $black, 90%);  // #e6e6e6

$offwhite: #ececec;
$accent: #E16D6D;
$accent-light: lighten($accent, 10%);
$accent-lightest: #FCF6F6;
$accent-dark: darken($accent, 15%);
